.size {
  width: 892px;
  height: 344px;
  position: relative;
  z-index: 1;
}

.size img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel {
  background-color: rgb(87, 104, 104);
  position: relative;
  z-index: 1;
  right: 1px;
  margin-top: 40px;
}

.bulletsDiv {
  width: 105px;
  height: 15px;
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: calc(50% - 53px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active {
  padding-left: 5.6px;
  padding-right: 5.6px;
  height: 14.5px;
  border: solid 2.2px #ffffff;
  border-radius: 20px;
  background-color: #db4444;
}

.active:hover {
  cursor: pointer;
}

.inactive {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  background-color: rgba(126, 126, 126, 1);
  border-style: none;
}

.inactive:hover {
  cursor: pointer;
}

.circleSize {
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
