.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 80px;
}

.textsContainer {
    width: 100%;
    max-width: calc(100% - 240px);
    margin: 0 auto;
}
