.container {
    height: 22px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.option {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 15px;
}

.currentBorder {
    width: 18.5px;
    height: 18px;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px black;
    border-radius: 15px;
    margin: 0;
}

.currentOption {
    width: 13.5px;
    height: 13px;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    border: none;
    border-radius: 10px;
}

.currentBorder, .option:hover {
    cursor: pointer;
}
 