.container1 {
    position: relative;
}

.slide {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.glide5 {
  margin-top: 40px;
  position: relative;
  margin-left: 120px;
  margin-right: 120px;
}

.invisDiv {
  display: contents;
}

.controls {
  width: 100px;
  height: 46px;
  position: absolute;
  top: -67px;
  right: 120px;
  display: flex;
  justify-content: space-between;
}

.control {
  border: none;
  background-color: #f5f5f5;
  width: 46px;
  height: 46px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.control:hover {
  cursor: pointer;
}





.glide5 {
  margin-top: 40px;
  position: relative;
  margin-left: 120px;
  margin-right: 120px;
}

.container6Details {
  display: flex;
  gap: 8px;
}

.swiper-button-prev {
    display: none !important;
}

.swiper-button-next {
    display: none !important;
}
  
