.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 1170px;
    height: 103px;
    margin-right: 120px;
    margin-left: 120px;
}

.container2 {
    width: 600px;
    height: 103px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}